body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav a {
  text-decoration: none;
  color: black !important;
}
nav {
  background-color: #e8e9eb;
}
nav img {
  width: 20%;
}
.navDiv {

  width: 80%;
}
.navDiv li {
  width: max-content;
}

nav ul {
  /* padding-top: 20px; */
  

}
nav li {
  width: max-content;
  padding:0 20px;
  color: #161616;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.activeLink {
  padding: 1rem 1.5rem;
  flex-shrink: 0;
  border-radius: 19px;
  background: #f99c1b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.joinUsSection h1 {
  color: #00253b;
  text-align: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}
.connectWithUsSection h3 {
  color: #000;
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}
.connectWithUsSectionDiv {
  width: 85%;
  margin-bottom: 4rem;
}
.connectWithUsSectionDiv div h2{
  padding-bottom: 2.3rem;

}
.connectWithUsSectionDiv div img {
  width: 4rem;
  margin-bottom: 1rem;
}

.connectWithUsSectionDiv div:nth-child(1),
.connectWithUsSectionDiv div:nth-child(2) {
  width: 30%;
  border-right: 1px solid #D0D0D0;
}
.connectWithUsSectionDiv div:nth-child(3) {
  width: 40%;
}

.connectWithUsSectionDiv div {
  padding: 0 2rem;
}
.connectWithUsSectionDiv div h2 {
  color: #626262;
  font-family: Manrope;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.connectWithUsSectionDiv div p {
  color: #616161;
  font-family: Manrope;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
 padding: 1rem 0;
}

.orContainer {
  /* display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  transform: rotate(270deg);
  height: fit-content;
  width: auto;
  border: 2px solid red; */
}

.line {
  /* flex: 1;
  height: 1px;
  background-color: black; */
}

.text {
  /* margin: 0 10px;
  color: black; */
}


.pageFormComponent {
  flex-wrap: wrap;
  /* border: 2px solid red; */
}
.pageFormComponent input , .pageFormComponent textarea {
  margin-bottom: 2em;
  border: none;
  width: 48%;
  font-size: 1.2rem;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(82, 76, 76, 0.227);
}
.pageFormComponent button {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 10px 24px 0px rgba(205, 202, 198, 0.49);
padding: 5% 15%;
  flex-shrink: 0;
  border: none;
  font-weight: bold;
}
.pageFormComponent button:hover {
  box-shadow: 5px 10px 24px 0px rgba(205, 202, 198, 0.8);
}

footer {
  background: #2b2b39;
  /* height: 50vh; */
}
footer img {
  height: 100px;
}
footer li,
footer a {
  color: #b3b3b4;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  
}
footer a:hover{
  color: #b3b3b4;
}
footer li{
  margin-bottom: 0.6rem;
  /* border: 2px solid red !important; */

}
footer li img {
  width: 30px;
}
footer p {
  color: #fff;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
}
.contactAndLinksFooter {
  width: 40%;
}

@media screen and (350px <= width <= 450px) {
  nav img {
    width: 40%;
  }
  .navDiv {
    width: 100%;
  }
  .activeLink {
    padding: 0;
    flex-shrink: 0;
    border-radius: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .joinUsSection h1 {
    color: #33333d;
    font-family: Manrope;
    font-style: normal;
    font-size: 2rem;
    font-weight: 600;
    text-align: start;
    padding: 0 4rem;
    text-transform: capitalize;
  }
  .joinUsSection h1 span {
    color: #f99c1b;
  }
  .connectWithUsSection h3 {
    color: #33333d;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 112.5% */
    text-transform: capitalize;
  }
  .connectWithUsSectionDiv {
    flex-direction: column;
  }

  .connectWithUsSectionDiv div:nth-child(1),
  .connectWithUsSectionDiv div:nth-child(2) {
    width: 100%;
    padding: 1rem 0;
    border-right: 0;
    border-bottom: 1px solid #5a545470;
  }
  .connectWithUsSectionDiv div:nth-child(3) {
    width: 100%;
    padding: 1rem 0;
  }
  .pageFormComponent input {
    margin-bottom: 2em;
    border: none;
    width: 100% !important;
    border-bottom: 1px solid rgba(82, 76, 76, 0.227);
  }
  .pageFormComponent button {
    width: 100%;
  }
  footer {
    /* flex-direction: column; */
    display: block !important;
    flex-wrap: wrap;
  }

  footer > div:nth-child(1) {
    width: 100%;
    padding: 4rem 0 0 2rem;
  }

  footer > div:nth-child(2) {
    width: 100%;
    display: inline-flex;
    flex-direction: row-reverse;
  }
  footer > div:nth-child(2)>ul>li {
  
  }
  .linksDivFooter {
    width: 100% !important;
    height: max-content;
    display: block !important;
    
  }
  .linksDivFooter ul{
   
    gap: 1rem !important;

  }
}


@media screen and (450px <= width <= 850px) {
  .connectWithUsSectionDiv{
    flex-direction: column;
  }
  .connectWithUsSectionDiv div{
    width: 100% !important;
    text-align: center;
    margin-bottom: 2rem;
  }
  footer li{
      display: flex;
      

  }
}